<%- include('partials/base') %>

<body
    style="
        font-family: 'Catamaran', sans-serif;
        background-color: #ffffff;
        font-size: 18px;
        max-width: 700px;
        margin: 0 auto;
        padding: 2%;
        color: #565859;
    "
>
    <div id="wrapper" style="background: #f6faff; border-radius: 7px">
        <%- include('partials/header') %>

        <div class="one-col" style="margin-top: 2%; padding: 2%">
            <h1 style="letter-spacing: 1%">Reset Password!</h1>
            <p style="text-align: justify">Dear <%= username %>,</p>
            <br />
            <p style="text-align: justify">
                We have received a request to reset the password for your
                account.
            </p>
            <p style="text-align: justify">
                If you made this request, please click on the button below to
                complete the process.
            </p>
            <br />
            <p style="text-align: justify">
                This link is valid only for an hour.
            </p>
            <div class="button-holder" style="margin: 3% 2% 4% 0">
                <a
                    class="btn"
                    href="<%= link %>"
                    style="
                        color: #f6faff;
                        text-decoration: none;
                        background: #52b107;
                        font-weight: 800;
                        padding: 8px 12px;
                        border-radius: 8px;
                        letter-spacing: 1px;
                    "
                    >RESET PASSWORD</a
                >
                <p style="text-align: justify; margin-top: 5%">
                    If you did not initiate this, you can safely ignore this
                    mail.
                </p>
            </div>
        </div>

        <footer>
            <%- include('partials/footer') %>

            <p>
                If you are having trouble clicking the button, copy and paste
                the URL below in your browser
            </p>
            <p style="text-align: justify">
                <a
                    href="<%= link %>"
                    style="color: #52b107; text-decoration: none"
                    ><%= link %></a
                >
            </p>
        </footer>
    </div>
    <!--end of wrapper-->
</body>
